@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
        font-family: "new rocker", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}

:root {
    --main-color:#1E3148;
    --secondry:#97ACC9;
}

section[class^="container"] {
    padding: 4rem 2rem;
}
@media screen and (min-width:1024px) {
    section[class^="container"] {
        padding: 4rem;
    }
    nav[class^="container"] {
        padding: 0 4rem;
    }
}

section:not(:first-of-type) {
    text-align: center;
}
section:nth-child(2n) {
    background-color: var(--secondry);
}

.img-fluid {
    border-radius: 50%;
    border: 5px solid black;
    animation: zeeshan 15s linear infinite;
}

@keyframes zeeshan {
    to {
        transform: rotate(360deg);
    }
}

 a {
    text-decoration: none;
    color: black;
    position: relative;
    letter-spacing: 0.5px;
}
a:after {
    content: "";
    position: absolute;
    background-color: #000000;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -0.1px;
    transition: 0.5s;
}
a:hover:after {
    color: var(--secondry);
    width: 100%;
}

section .card, .btn-outline-dark {
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    transition: 0.5s;
}

.btn-outline-dark:hover {
    box-shadow: 4px 4px var(--main-color);
    transition: 0.5s;
}
.card:hover {
    transform:scale(1.08);
    transition: all 0.5s ease-in-out;
    /* box-shadow: 2px 2px 3px black; */
}

.navbar {
    background-color: #ffffff;
}

.navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1rem;
}
.navbar-nav .nav-link:hover {
    color:darkblue;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

@media screen and (min-width:1024px) {
    .navbar-nav .nav-item {
        padding: 0 1rem;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
}

section.hero {
    padding-top: 72px;
    /* height: 100vh; */
    
}
@media screen and (min-width:576px) {
    section.hero {
        text-align: center;
    }
    section.hero img {
        width: 70%;
    }
   
}

.services i {
    font-size: 2rem;
    margin: 1rem auto 0;
    border: 2px solid var(--main-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .card, .btn-outline-dark {
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.btn-outline-dark:hover {
    box-shadow: 4px 4px var(--main-color);
}

section .card {
    max-width: 22rem;
    margin-inline: auto;
}
.about {
    line-height: 2em;
    text-align: center;
}
@media screen and (min-width: 1024px) {
    .about.container, .testinomials.container {
        width: 60%;
    }
}

section.project.card {
    max-width: 17rem;
    text-align: left;
}
section.project.card img {
    max-width: 70%;
    margin: 1rem auto;
}

section.contact .social-media a {
    padding: 0 0.5rem;
    font-size: 1.3rem;
}




